name: CI

on:
  push:
    branches:
      - main
  pull_request:

permissions:
  contents: read

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{ github.ref != 'refs/heads/main' }}

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        emacs_version:
          - 29.1
          - 29.4
          - 30.1
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - uses: purcell/setup-emacs@8415786a52b3a84babd7ffc92a802b06e3780c17 # master
        with:
          version: ${{ matrix.emacs_version }}
      - name: Byte compile
        run: make compile
      - name: Run tests
        run: make test
      - name: Lint
        run: make lint
      - name: Package lint
        run: make package-lint
